$background: #232424;

a {
    text-decoration: none;
    color: white;
}

.page {
    margin-left: 180px;
    margin-right: 180px;
}

body {
    padding: 0px;
    margin: 0px;
    background-color: $background;
    font-family: "Lato";
    font-weight: 800;
    line-height: 25px;
}

header {
    margin-top: 45px;
    margin-bottom: 50px;
}

.header__logo {
    margin-left: 200px;
    text-decoration: none;
    color: white;
    font-size: 36px;
    font-family: 'Press Start 2P', cursive;
    margin-right:  300px;
    display: inline;
    -webkit-filter: drop-shadow(0 0 12.5px rgba(0, 255, 255, 1));
    filter: drop-shadow(0 0 12.5px rgba(0, 255, 255, 1));
}

.nav {
    font-size: 16px;
    display: inline;
    margin-left: 600px;
    margin-top: 45px;
    color: white;
}

.nav a {
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    color: white;
    -webkit-filter: drop-shadow(0 0 12.5px rgba(0, 255, 255, 0.9));
    filter: drop-shadow(0 0 12.5px rgba(0, 255, 255, 0.9));
}

.nav a:after {
    position: absolute;
    display: block;
    content: "";
    margin-top: 8px;
    background-color: #6bf0ff;
    height: 3px;
    width: 0%;
    -webkit-transition: width 0.3s ease-in-out;
    -moz--transition: width 0.3s ease-in-out;
    transition: width 0.3s ease-in-out;
    -webkit-filter: drop-shadow(0 0 25px rgba(0, 255, 255, 1));
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 1));
}

.nav a:hover:after {
    width: 100%;
    -webkit-filter: drop-shadow(0 0 25px rgba(0, 255, 255, 1));
    filter: drop-shadow(0 0 10px rgba(0, 255, 255, 1));
}

.log_panel {
    color: white;
    float:right;
    margin-right: 50px;
    margin-bottom: 100px;
    -webkit-filter: drop-shadow(0 0 8px rgba(0, 255, 255, 1));
    filter: drop-shadow(0 0 8px rgba(0, 255, 255, 1));

}

main {
    padding: 60px 100px 80px 96px;
    background-color: $background;
    margin-bottom: 50px;
    font-size: 30px;
    color: white;
    -webkit-filter: drop-shadow(0 0 12.5px rgba(0, 255, 255, 1));
    filter: drop-shadow(0 0 12.5px rgba(0, 255, 255, 1));
    min-height: 150px;
}



footer {
    background-color:  $background;
    font-weight: 400;
}

.footer__discription {
    -webkit-filter: drop-shadow(0 0 12.5px rgba(255, 255, 255, 1));
    filter: drop-shadow(0 0 12.5px rgba(255, 255, 255, 1));
    font-size: 18px;
    line-height: 23px;
    color: white;
    font-weight: 400;
    text-align: center;
}

.footer__copyright {
    -webkit-filter: drop-shadow(0 0 12.5px rgba(255, 255, 255, 0.8));
    filter: drop-shadow(0 0 12.5px rgba(255, 255, 255, 0.8));
    font-size: 15px;
    color: white;
    text-align: center;
}


